<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="col-md-4 mt-5 p-3 m-5">
            <h3>Login to continue ...</h3>
            <br/>
            <form method="POST">
                {% csrf_token %}
                <input type="text" placeholder="Username" name="username" class='form-control'>
                <input type="password" placeholder="Password" name="password" class='form-control mt-2'>
                <button type="submit" class="btn btn-primary mt-4">Login</button>
            </form>
            <br/>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}" role="alert">
                        {{ message }} 
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</body>
</html>